.contact {
  width: 100%;
  background: linear-gradient(
      to right,
      rgba(58, 66, 86, 0.9),
      rgba(58, 66, 86, 0.9)
    ),
    url("../../../images/bg2.png");
  background-position: top left;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.contact-form {
  margin: 0 auto;
  max-width: 800px;
}

.contact-form input,
.contact-form textarea {
  border: 1px solid var(--color-primary);
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: 3px solid var(--color-primary);
  color: rgb(87, 84, 84);
}

.contact-form textarea {
  height: 200px;
}
