:root {
  --color-primary: #5fc7c7;
  --color-secondary: #3a4256;
}

.sub-heading {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  color: #5fc7c7;
  padding: 40px 0 5px 0;
}
.heading {
  text-align: center;
  color: #3a4256;
  padding: 10px 0;
}
.btn-main {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  padding: 10px;
  font-weight: bold;
  background-image: linear-gradient(75deg, #19d3af, #0fcfeb);
  border: none;
  outline: none;
  transition: 0.5s;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
}
.btn-main:hover {
  background-image: linear-gradient(135deg, #0fcfeb, #19d3af);
  transform: translateY(-3px);
  box-shadow: 0 7px 8px rgba(0, 0, 0, 0.2);
}
